html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    background-color: #CAF7B7;
    border-radius: 50px;
    margin: 30px 60px;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    display: flex;
    justify-content: space-around;
}
.header .avata{
    margin-top: 25px;
}
.header .avata img{
    width: 200px;
    border-radius: 50%;
    border: 5px solid #15562D;
}
.header-name{
    margin-top: 50px;
    margin-right: 220px;

}
.header-name .name{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 600;
    color: #15562D;
}
.header-name .school{
    margin-top: 10px;
    display: block;
    font-size: 35px;
    font-weight: 600;

    color: #18A34A;
}
.container{
    display: flex;
    margin-top: 20px;
}
.container-info{
    background-color: #15562D;
    border-radius: 0px 50px 0px 50px;
    color: #fff;
    width: 400px;
}
.container-info .content-info{
    margin-left: 20px;
    margin-bottom: 40px;
}
.container-info .content-info p{
    font-size: 28px;
    width: 90%;
    font-weight: 600;
    border-bottom: 3px solid #fff;
}
.container-info .content-info ul{
    list-style: none;
}
.container-info .content-info ul li{
    margin-top: 10px;
    margin-left: -40px;
}
.container-content{
    margin-left: 20px;
}
.container-content .content-item1{
    
}
.container-content .content-item1 .content-header{
    color: #15562D;
    font-size: 30px;
    width: 100%;
    font-weight: 600;
}
.content-item1 b{
    color: #15562D;
}
.bar{
    margin-top: -20px;
    width: 70vw;
    height: 3px;
    background-color: #15562D;
}
.content-item2{
    margin-top: 40px;
}
.content-item2 .content-header{
    color: #15562D;
    font-size: 30px;
    width: 100%;
    font-weight: 600;
}

.table {
    margin-top: 20px;
    
}
.table, th, td{
    border: 1px solid #15562D;
    border-collapse: collapse;
    padding: 10px 48px;
    color: #15562D;
}
.table th{
    color: #fff;
    background-color: #15562D;
    font-size: 15px;
    text-align: center;

}
.text-center{
    text-align: center;
}
